<<<<<<< HEAD
* {
    font-family: 'Open Sans Condensed', sans-serif;
  }

  table{
    border: solid black 1px;
  }

  table td{
    border: solid black 1px;
  }

  table tr{
    border: solid black 1px;
  }
  
  table th{
    border: solid black 1px;
  }
=======
>>>>>>> a2f931f5eb0ffc5fd206555fda6dcce32c0a630a
