
* {
    font-family: 'Open Sans Condensed', sans-serif;
  }

  table{
    border: solid black 1px;
  }

  table td{
    border: solid black 1px;
  }

  table tr{
    border: solid black 1px;
  }
  
  table th{
    border: solid black 1px;
  }






h2{
  font-family: 'Festive', cursive;
  color: rgb(235, 192, 113);
}



#Cookie{
  font-family: 'Festive', cursive;
  color: rgb(235, 213, 21);

}


#submit{
color: burlywood;
}




/* html */

#one{
  color: rgb(226, 198, 43);
  font-family: 'Festive', cursive;
}




















